.contributions{
    display: flex;
    flex-direction: column;
    gap: 70px;
    .description{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 35px;
            font-weight: 300;

        }
        p{
            text-align: center;
            width: 50%;
            overflow-wrap: anywhere;
            font-size: 18px;
            line-height: 25px;
            font-weight: 200;
        }
    }
    .counts{
        display: flex;
        justify-content: space-around;
        .itm{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            width: 20%;
            .count{
                font-size: 40px;
                font-weight: 300;
            }
            .info{
                width: 50%;
                text-align: center;
                overflow-wrap: break-word;
                font-size: 18px;
                font-weight: 200;
                line-height: 25px;
            }
        }
    }

}
@media screen and (max-width: 1097px){
     .contributions{
        .description{
            p{
                width: 70%;
            }
        }
        .counts{
            .itm{
                .info{
                    width: 100%;
                }
            }
            
        }
     }   

}
@media screen and (max-width: 790px){
    .contributions{
        .description{
            p{
                width: 90%;
                font-size: 14px;
            }
        }
        .counts{
            .itm{
                .info{
                    width: 100%;
                }
            }
            
        }
     }   

}